@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  color: hsl(0, 0%, 100%);
  background-image: url("./assets/desktop/bg-image-daytime.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.4);
}

.wrapper {
  width: 90rem;
  height: 50rem;
  padding-top: 3.5rem;
}

.quote-wrapper {
  height: 10rem;
}
.quote-wrapper .quote-top {
  width: 35rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}
.quote-wrapper .quote-top .quote-content {
  width: 90%;
}
.quote-wrapper .quote-top .quote-icon {
  margin-top: 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
}
.quote-wrapper .quote-top .quote-icon:hover path {
  opacity: 1;
  transition: 0.1s ease-out;
}
.quote-wrapper .quote-author {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
  margin-top: 0.8125rem;
}

.time-wrapper {
  width: 100%;
  margin-top: 14.5625rem;
}

.time-statement {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 30.4375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-details {
  display: flex;
  align-items: flex-end;
}
.time-details .time {
  font-size: 12.5rem;
  font-weight: 700;
  line-height: 12.5rem;
  letter-spacing: -5px;
}
.time-details .time-zone {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.75rem;
  text-transform: uppercase;
  margin-left: 1rem;
  transform: translate(0, -100%);
}

.location-wrapper {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.location-wrapper .button {
  width: 9.125rem;
  height: 3.5rem;
  border-radius: 28px;
  background-color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 0%);
  font-size: 1rem;
  font-style: 400;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: none;
}
.location-wrapper .button-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5625rem 0 1.3125rem;
  cursor: pointer;
}
.location-wrapper .button-more:hover svg circle {
  fill: hsl(0, 0%, 60%);
  transition: 0.1s ease-out;
}
.location-wrapper .button-more span {
  opacity: 0.5;
}
.location-wrapper .button-more svg {
  border-radius: 50%;
}

.main-wrapper-expand {
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.4);
}

.wrapper-expand {
  width: 100%;
  height: 100vh;
  padding-top: 3.5rem;
  display: grid;
  grid-template-rows: 25rem 1fr;
}

.main-wrapper-expand-top {
  width: 90rem;
  margin: 0 auto;
}
.main-wrapper-expand-top .time-wrapper-expand {
  padding-top: 1.5rem;
  margin-top: 0;
  width: 90rem;
}

.expand-wrapper {
  width: 100vw;
  background-color: hsla(0, 0%, 100%, 0.75);
  -webkit-backdrop-filter: blur(20.3871135712px);
          backdrop-filter: blur(20.3871135712px);
}
.expand-wrapper .expand {
  width: 90rem;
  margin: 0 auto;
  color: hsl(0, 0%, 19%);
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 5.875rem;
  margin-top: 4.625rem;
}
.expand-wrapper .expand-container-large {
  height: 15.75rem;
}
.expand-wrapper .left {
  border-right: 1px solid hsla(0, 0%, 19%, 0.25);
}
.expand-wrapper .bottom {
  margin-top: 2.625rem;
}
.expand-wrapper .description {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.expand-wrapper .details {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.25rem;
}

.location-wrapper-expand {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.location-wrapper-expand .button {
  width: 9.125rem;
  height: 3.5rem;
  border-radius: 28px;
  background-color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 0%);
  font-size: 1rem;
  font-style: 400;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: none;
}
.location-wrapper-expand .button-less {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5625rem 0 1.75rem;
  cursor: pointer;
}
.location-wrapper-expand .button-less:hover svg circle {
  fill: hsl(0, 0%, 60%);
  transition: 0.1s ease-out;
}
.location-wrapper-expand .button-less span {
  opacity: 0.5;
}
.location-wrapper-expand .button-less svg {
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */